{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    <p class="lead">Welcome to the home page!</p>
    <p class="lead">choose your file and the settings in the form below.</p>
    <p class="lead">The file will be uploaded to the server and the results will be displayed on the next page.</p>
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data" style="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Continue</button>
        </form>
    </div>



{% endblock %}
```